<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WebApi.Properties.Settings>
            <setting name="IS_LOGFILE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LOG_LEVEL" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LOGDIR_PATH" serializeAs="String">
                <value>./logs/</value>
            </setting>
            <setting name="LOGFILE_NAME" serializeAs="String">
                <value>console</value>
            </setting>
            <setting name="LOGFILE_MAXSIZE" serializeAs="String">
                <value>10485760</value>
            </setting>
            <setting name="LOGFILE_PERIOD" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="API_PORT" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="API_PATH" serializeAs="String">
                <value>api</value>
            </setting>
        </WebApi.Properties.Settings>
    </userSettings>
</configuration>